<div class="container mt-3">
  <!-- Project Name -->
  <div style="width: 100vw; height: 20vh" class="container d-flex">
    <div class="container d-flex">
      <h3 class="m-1 p-2">Project Name:</h3>
      <h3 class="m-1 fs-1 text-danger">User Detail Collection</h3>
    </div>
    <div>
      <p>Created by</p>
      <h5 class="mb-0">Saravanan</h5>
    </div>
  </div>

  <div
    class="my-2"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>

  <!-- About the Project -->
  <div class="my-5">
    <h3>About the Project:</h3>
    <p class="container">
      The User Details Collector Application is designed to collect and manage
      user information. This project involves creating a secure and efficient
      system for capturing and organizing user data.
    </p>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>

  <!-- Technology Used -->
  <div class="container">
    <div>
      <h4>Technolgy Used:</h4>
      <!-- Angular -->
      <div class="container">
        <ul>
          <li class="text-danger fs-5">Angular Framework - Version 18.8.0</li>
          <ul>
            <li>HTML - Version 5</li>
            <li>CSS - Version 3</li>
            <li>TypeScript - Version 5.2.2</li>
          </ul>
        </ul>
        <!-- Storage System -->
        <ul>
          <li class="text-danger fs-5">Storage</li>
          <ul>
            <li>Local Storage</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>

  <!-- Hosting Details -->
  <div class="container">
    <h4>Hosting Details</h4>
    <div class="container">
      <ul>
        <li class="text-danger">GitHub Pages</li>
        <ul>
          <li class="fs-5">Link :</li>
          <a
            href="https://saravanan-sarav.github.io/angular-userdetailcollector/"
            >https://saravanan-sarav.github.io/angular-userdetailcollector/</a
          >
        </ul>
      </ul>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>

  <!-- Supported Device -->
  <div class="container">
    <h4>Supported Devices:</h4>
    <div class="container">
      <ul>
        <li>
          Desktop or large screen Devices for seemless Working and performance.
        </li>
        <li>Preferable to use in Desktop.</li>
      </ul>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>

  <!-- Page details -->

  <div class="container">
    <h4>Web Pages Details:</h4>
    <div class="row justify-content-evenly">
      <!-- registration Page -->
      <div class="card m-2 col-3 border border-danger rounded p-3">
        <h5
          style="background-color: red; color: aliceblue"
          class="p-2 rounded ps-3 my-2"
        >
          User Detail DataBase Page:
        </h5>
        <div class="mt-3">
          <ul>
            <li>Customer can Add their Information in the Patform.</li>

            <li>Requirements :</li>
            <ul>
              <li style="list-style: disc">
                Name, Email, phoneNumber, Agree terms and Conditions.
              </li>
            </ul>
          </ul>
        </div>
      </div>
      <!-- Login Form -->
      <div class="card m-2 col-3 border border-danger rounded p-3">
        <h5
          style="background-color: red; color: aliceblue"
          class="p-2 rounded ps-3 my-2"
        >
          Login Page:
        </h5>
        <ul class="mt-4">
          <li>User can Login Using their credentials</li>

          <li>requirements :</li>
          <ul>
            <li style="list-style: disc">
              registered Email, registered Password.
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>
  <!-- Validations -->
  <div class="container">
    <h4>Validations:</h4>
    <div class="container">
      <ul>
        <li>Add Product</li>
        <li>Edit Product</li>
        <li>Delete Product</li>
        <li>View the Product</li>
      </ul>
    </div>
  </div>
  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>
  <!-- Future Works -->
  <div class="container">
    <h4>Future Works :</h4>
    <div class="container">
      <ul>
        <li>Add input Validations on the field</li>
        <li>View the history of the input</li>
      </ul>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>

  <!-- Thanl You Greetings -->
  <div>
    <h1 class="text-danger text-center">Thank You for your Support..!!!</h1>
    <p class="text-primary text-center">
      Now, You are ready to explore the Shopping World..!!!
    </p>
  </div>
  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: red"
  ></div>

  <!-- Accept User Details -->
  <div class="container mb-5">
    <div class="ms-2 mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        checked
      />
      <label class="form-check-label" for="exampleCheck1"
        >I read all the instructions and I am ready to Explore.</label
      ><br />
    </div>
    <button class="my-2 btn btn-danger" (click)="getStarted()">
      Get Started
    </button>
  </div>
</div>
